.foothead{
    font-size: 12px;
    font-weight: 700;
    color: rgb(54, 54, 54);
}

.footsec_nav{
    font-size: 12px;
    font-weight: 600;
}

@media(max-width: 1200px){
    .foot_padding{
        padding: 0 30px;
    }
    .foot_padding2{
        padding: 0 120px;
    }
}

@media(max-width: 750px){
    .foot_padding{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
    }
}

@media(max-width: 500px){
    .foot_padding{
        padding: 0 16px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
}