.productback{
    background-image: url('/src/assets/product.jpg');
    height: 550px;
    object-fit: cover;
    background-size: cover;
    position: fixed;
    width: 100%;
    position: relative;
}

.product_content{
    position: absolute;
    top: 0;
    left: 40%;
    right: 0;
    height: 550px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;

}

.head_product{
    font-size: 30px;
    font-weight: 1000;
     color: white;
    padding-left: 40px;
    background-color: rgb(31, 27, 63);
     
}

.heading{
     width: 725px;
    height: 80px; 
    background-color: rgb(31, 27, 63);
    margin-top: 40px;
  border-top-left-radius: 8px;
 border-top-right-radius: 8px ;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.heading button{
   width: 100px;
   height: 40px;
   margin-right: 20px;
   font-size: 14px;
}

.list{
    width: 680px;
    height: 160px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 2px solid rgb(31, 27, 63);
    display: flex;  
    flex-direction: column;
    align-items: start; 
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 0px !important;
}


.input{
    width: 20px;
    height: 20px;
    margin-top: 14px;
}

.list li{
    font-size: 24px;
    font-weight: 500;
    line-height: 2;
    color: rgb(31, 27, 63);
    list-style: none;
    display: flex;
  

}

.sec_half{
    margin-left: 80px;
}

.Add_cart button{
   float: right;
   font-size: 16px;
   font-weight: 800;
   height: 40px;
   width: 200px;
   margin-top: 4px;
   border: 3px solid  rgb(31, 27, 63);
}
.Add_cart button:hover{
    background-color:  rgb(31, 27, 63);
    color: white;
}

.pro_price{
    background-color: rgba(31, 27, 63, 0.404);
    color: white;
    padding: 3px 5px;
    font-size: 18px;
}


.cart_design{
    border: 2px solid black;
    width: 600px;
    /* padding: 30px 20px; */
    margin: 10px;
    list-style: none;
    font-size: 20px;
    border-radius: 10px;
}

.cart_design:hover{
    background-color: black;
    color: white;
}

.flex_cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.cart_con{
    padding: 40px 20px;
}

.remove{
    position: absolute;
    right: 4px;
    top: 2px;
}

.cart_but{
    padding: 2px 6px;
    border-radius: 4px;
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;

}

.cart_but:hover{
   background-color: white;
   color: black;
   font-weight: 700;
}

.Order_but{
     padding: 10px 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 2px solid white;
    margin-left: 5px;
    width: 200px;
}

.Order_but:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.cart_datas{
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
    overflow: hidden;

}

.cart_back{
  background-image: url('/src/assets/cart.jpg');
  height: 600px;
  /* width: 100%; */
  object-fit: cover;
  background-size: cover;
  background-position: center;
  padding: 30px;
}