.box {
  border: 2px solid black;
  width: 300px;
  height: 100px;
  padding: 10px 20px;
  color: black;
  margin: 20px;
  display: flex;
  gap: 5px;
}

.cart{
    display: flex;
    gap:20px;
}

.cart p{
    background-color: #000000;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.divbox{
    background-color: black;
    padding: 10px 20px;
    width: 30px;
    margin: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divmainbox{
    display: flex;
}

/* .count{  
     float: inline-end;
} */


.cart_img{
    background-image: url('./assets/download.jpg');
    background-size: cover;
    object-fit: cover;
     width: 80px;
     height: 80px;
}
.cart_img2{
    background-image: url('./assets/downloa.jpg');
    background-size: cover;
    object-fit: cover;
     width: 80px;
     height: 80px;
}
.cart_img3{
    background-image: url('./assets/down.jpg');
    background-size: cover;
    object-fit: cover;
     width: 80px;
     height: 80px;
}

.cartitem{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px;
  width: 500px;

}

.flexdel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}